#logo_bootstrap{
    margin-top: -14px;
}
.jumbotron{
    position: fixed-bottom;
    background-image: url(http://localhost:3000/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
}
#jumbotronh1, #jumbotronp{
    color: #ddd;
}
#t17_content{
    margin: 20px;
    text-indent: 30px;
}
.t16_btn{
    float: right;
    width: 150px;
    background-color: #56317d;
}
h3, dt{
    text-indent: 70px;
}
.js_t16_show_res{
    cursor: pointer;
    font-weight: bold;
}
.js_t16_show_res:hover{
    box-shadow: inset 0px 0px 10px 1px rgb(100, 45, 140);
}
.js_t16_original_res{
    display: none;
    color: #666;
    padding: 10px;
    border: 3px solid #56317d;
    /*border-color: #666;*/
}